@use "../../../styles/animations.scss";

.nav {
    position: relative;
    z-index: 4;
}
.list {
    display: flex;
}
.decor,
.link {
    font-size: 14px;
    color: var(--col-text-white);
    text-decoration: underline;
}
.decor {
    opacity: 0;
    animation: appearance 0.5s ease 0.9s forwards;
}
.link {
    display: inline-block;
    padding: 10px 0;
    transition: color 0.5s;
    position: relative;
    opacity: 0;
    transform: translate(-100%, 0);
    &.first {
        animation: appearance 0.7s ease 0.3s forwards;
    }
    &.second {
        animation: appearance 0.7s ease 0s forwards;
    }
    &:hover,
    &:focus-visible,
    &.active {
        color: var(--col-text-green);
        text-decoration: initial;
    }
    &:focus-visible {
        outline: 2px solid var(--col-white);
    }
}

@media (min-width: 768px) {
    .decor,
    .link {
        font-size: 16px;
    }
}
@media (min-width: 1400px) {
    .decor,
    .link {
        font-size: 18px;
    }
}