.wrapper {
    padding-top: 35px;
    position: relative;
    min-height: 800px;
}

.example-posts {
    display: none;
}

.title-wrapper {
    margin: 0 0 40px 0;
}

@media (min-width: 768px) {
    .wrapper {
        position: relative;
        padding-top: 180px;
    }
    .form-wrapper {
        width: 375px;
        margin: 0 auto;
    }
    .title-wrapper {
        position: absolute;
        top: 28px;
        left: -10px;
    }
}

@media(min-width: 1200px) {
    .example-posts {
        display: block;
        position: absolute;
        top: 155px;
        right: 0;
        article:first-child {
            transform: translateX(-72px);
            margin: 0 0 43px 0;
        }
    }
    .form-wrapper {
        width: 375px;
        margin: 0 auto 0 0;
        transform: translateX(170px);
    }
    .title-wrapper {
        top: 28px;
        left: -10px;
    }
}

@media (min-width: 1400px) {
    .wrapper {
        padding-top: 200px;
    }
    .example-posts {
        article:first-child {
            transform: translateX(-122px);
        }
    }
}