.form {
    position: relative;
    z-index: 2;
}
.input-wrapper {
    display: block;
    margin: 0 0 20px 0;
    &:nth-child(2) {
        margin: 0 0 15px 0;
    }
    position: relative;
}
.input-error,
.form-error {
    position: absolute;
    right: 0;
    width: 100%;
}
.input-error {
    bottom: 50px;
}
.form-error {
    bottom: calc( 100% + 10px);
}
.input {
    width: 100%;
}
.blue-link {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 0 15px 0;
}
.btn {
    margin: 0 0 6px 0;
}
.gray-link {
    display: inline-block;
    padding: 6px 10px;
}
.gray-link-wrapper {
    text-align: center;
}

@media(min-width: 768px) {
    .gray-link-wrapper {
        text-align: left;
    }
    .btn {
        margin: 0 0 30px 0;
    }
    .gray-link {
        padding: 6px 10px 6px 0px;
    }
}