.main-section {
    background-color: var(--col-black-light);
    min-height: calc(100vh - 65px);
}
.main-header {
    background-color: var(--col-white);
    &__inner {
        height: 54px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__date {
        font-size: 16px;
        color: var(--col-text-black);
    }
    &__user {
        flex: 0 0 calc(100% - 120px);
        max-width: calc(100% - 120px);
    }
}
.loading-wrapper {
    height: calc(100vh - 65px);
    position: relative;
}
.preload-loading-gif {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
}
.blog {
    padding: 20px 20px 60px 20px;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 0 20px 0;
    }
    &__title {
        font-family: var(--font-pretty);
        color: var(--col-text-white);
        font-size: 20px;
        line-height: 1.2em;
        letter-spacing: 0.065em;
        flex: 0 0 calc(100% - 120px);
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box !important;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
    }
    &__likes {
        max-width: 100px;
    }
    &__pics {
        white-space: nowrap;
        overflow-y: auto;
        background-color: var(--col-text-black-75);
        border-radius: 10px;
        margin: 0 0 10px 0;
        &-item {
            height: 400px;
            width: 100%;
            position: relative;
        }
        &-image {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
        // styles for slick slider
        & :global(.slick-arrow) {
            cursor: pointer;
            width: 50px;
            height: 50px;
            font-size: 0;
            border-radius: 50%;
            overflow: hidden;
            &:after, 
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            &:after {
                background: url("../../assets/images/decor-things/select--black.svg") 50% 50% no-repeat;
            }
            &:before {
                background-color: var(--col-white);
            }
        }
        & :global(.slick-prev) {
            position: absolute;
            bottom: 20px;
            right: 90px;
            z-index: 3;
            &:after {
                transform: rotateZ(90deg);
            }
        }
        & :global(.slick-next) {
            position: absolute;
            bottom: 20px;
            right: 20px;
            z-index: 3;
            &:after {
                transform: rotateZ(-90deg);
            }
        }
    }
    &__text {
        max-height: 360px;
        overflow-y: auto;
        font-size: 18px;
        line-height: 1.64em;
        letter-spacing: 0.025em;
        color: var(--col-text-white);
        padding: 0 10px 0 0;
        margin: 0 0 20px 0;
    }
}
.likes {
    display: flex;
    flex-wrap: wrap;
    &__svg {
        fill: var(--col-white);
        transition: fill 0.5s;
        margin: 0 10px 5px 0;
    }
    &__number {
        color: var(--col-text-white);
        font-size: 16px;
        transform: translate(0, 2px);
        max-width: 100px;
        text-overflow:ellipsis;
        overflow:hidden;
    }
}
.comments {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        width: 100%;
        padding: 0 20px;
        margin: 0 0 20px 0;
        background-color: var(--col-white);
        &-title,
        &-count {
            font-family: var(--font-pretty);
            font-size: 20px;
            color: var(--col-text-black);
        }
    }
    &__list {
        min-height: 100px;
        max-height: 470px;
        position: relative;
        overflow-y: auto;
        &-wrapper {
            padding: 0 20px;
            margin: 0 0 46px 0;
        }
        &-item {
            margin: 0 0 20px 0;
            &:last-child {
                margin: 0;
            }
        }
    }
    &__no-comments {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: var(--font-pretty);
        font-size: 18px;
        color: var(--col-text-white);
    }
    &__form {
        padding: 0 20px 100px 20px;
        &-textarea {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            min-height: 60px;
            max-height: 120px;
            margin: 0 0 15px 0;
            font-size: 18px;
        }
    }
}
@media(hover: hover) {
    .blog__pics {
        & :global(.slick-arrow) {
            transition: all 0.5s;
        }
        & :global(.slick-arrow:hover) {
            transform: translate(0, -10px);
        }
        & :global(.slick-arrow:active) {
            transition: all 0s;
            transform: translate(0, 0) scale(0.8);
        }
        & :global(.slick-arrow:active::before) {
            background-color: var(--col-white-50-transparent);
        }
    }
}

@media(hover: none) {
    .blog__pics {
        & :global(.slick-arrow.clicked) {
            pointer-events: none;
            animation: arrowAnimation 0.5s ease-in;
        }
        & :global(.slick-prev.clicked::after) {
            animation: afterPrevAnimation 0.6s;
        }
        & :global(.slick-next.clicked::after) {
            animation: afterNextAnimation 0.6s;
        }
        @keyframes arrowAnimation {
            60% {
                transform: scale(0.75);
            }
            100% {
                transform: scale(1);
            }
        }
        @keyframes afterNextAnimation {
            60% {
                transform: translate(20px, 0px) rotateZ(-90deg);
                opacity: 0;
            }
            61% {
                transform: translate(-20px, 0px) rotateZ(-90deg);
                opacity: 0;
            }
            99% {
                transform: translate(0px, 0px), rotateZ(-90deg);
                opacity: 1;
            }
        }
        @keyframes afterPrevAnimation {
            60% {
                transform: translate(-20px, 0px) rotateZ(90deg);
                opacity: 0;
            }
            61% {
                transform: translate(20px, 0px) rotateZ(90deg);
                opacity: 0;
            }
            99% {
                transform: translate(0px, 0px), rotateZ(90deg);
                opacity: 1;
            }
        }
    }
}

@media(min-width: 768px) {
    .main-header {
        &__inner {
            height: 66px;
        }
    }
    .tablet-desktop-container {
        margin: 0 auto;
        width: 720px;
        height: 730px;
        position: relative;
        &.pictured {
            height: 1200px;
            .blog {
                width: 100%;
            }
            .blog__title {
                -webkit-line-clamp: 2;
            }
            .blog__text {
                max-height: 595px;
            }
            .blog__text-and-like-btn {
                position: absolute;
                top: 450px;
                left: 0;
                width: calc(50% - 9px);
            }
            .comments {
                top: 450px;
            }
            & .comments__header {
                margin: 0 0 20px 0;
            }
            & .comments__list {
                height: 385px;
            }
        }
    }
    .blog {
        width: calc(50% - 9px);
        padding: 20px 0 0 0;
        &__header {
            margin: 0 0 25px 0;
        }
        &__title {
            -webkit-line-clamp: 6;
        }
        &__text {
            max-height: 365px;
            margin: 0 0 25px 0;
        }
        &__pics {
            &-item {
                height: 335px;
            }
        }
    }
    .comments {
        position: absolute;
        width: calc(50% - 9px);
        top: 20px;
        right: 0;
        &__header {
            background-color: transparent;
            padding: 0;
            height: auto;
            margin: 0 0 45px 0;
            &-title,
            &-count {
                color: var(--col-text-white);
            }
        }
        &__list {
            padding: 0 10px 0 0;
            min-height: initial;
            max-height: initial;
            height: 300px;
            &-wrapper {
                padding: 0;
                margin: 0 0 25px 0;
            }
        }
        &__form {
            padding: 0;
            &-textarea {
                min-height: initial;
                max-height: initial;
                height: 160px;
            }
        }
    }
}

@media(min-width: 1200px) {
    .main-header {
        &__date {
            font-size: 18px;
        }
    }
    .tablet-desktop-container {
        width: 1140px;
        height: 820px;
        &.pictured {
            height: 990px;
            padding: 0 0 100px 0;
            & .comments {
                top: 20px;
            }
            & .comments__header {
                margin: 0 0 35px 0;
            }
            & .comments__list {
                height: initial;
                min-height: 400px;
                max-height: 567px;
            }
            & .blog {
                width: calc(50% - 15px);
            }
            & .blog__text {
                max-height: 356px;
            }
            & .blog__text-and-like-btn {
                position: initial;
                top: initial;
                left: initial;
                width: initial;
            }
        }
    }
    .blog {
        &__title {
            -webkit-line-clamp: 4;
        }
        &__text {
            max-height: 514px;
        }
        &__pics {
            position: relative;
            top: initial;
            right: initial;
            width: 100%;
            margin: 0 0 25px 0;
        }
    }
    .comments {
        width: calc(50% - 15px);
        &__list {
            height: initial;
            min-height: 250px;
            max-height: 410px;
        }
        &__header {
            margin: 0 0 35px 0;
        }
    }
    .likes {
        &__number {
            font-size: 18px;
        }
    }
}

@media(min-width: 1400px) {
    .loading-wrapper {
        height: calc(100vh - 88px);
    }
    .main-section {
        min-height: calc(100vh - 88px);
    }
    .main-header {
        &__inner {
            height: 80px;
        }
    }
    .tablet-desktop-container {
        width: 1200px;
        &.pictured {
            height: 1190px;
            & .blog {
                width: calc(60% - 25px);
            }
            & .blog__text {
                max-height: 390px;
            } 
            & .comments {
                top: 30px;
                width: calc(40% - 25px);
            }
            & .comments__header {
                margin: 0 0 40px 0;
            }
            & .comments__list {
                max-height: 770px;
            }
        }
    }
    .blog {
        width: calc(50% - 25px);
        padding: 30px 0 0 0;
        &__header,
        &__text {
            margin: 0 0 30px 0;
        }
        &__text {
            max-height: 500px;
        }
        &__title {
            font-size: 22px;
        }
        &__pics {
            &-item {
                height: 500px;
            }
            &-image {
                min-width: 500px;
            }
        }
    }
    .comments {
        width: calc(50% - 25px);
        top: 30px;
        &__list {
            &-wrapper {
                margin: 0 0 30px 0;
            }
        }
    }
}