.burger {
    height: 65px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 4;
    transform: translateX(15px);
    & .decor {
        pointer-events: none;
        height: 4px;
        width: 28px;
        background-color: var(--col-white);
        border-radius: 10px;
        transition: all 0.5s;
        position: absolute;
        left: calc(50% - 14px);
        &:nth-child(2) {
            top: calc(50% - 12px);
            transform-origin: center left;
        }
        &:nth-child(3) {
            top: calc(50% - 2px);
        }
        &:nth-child(4) {
            top: calc(50% + 8px);
            transform-origin: center left;
        }
    }
    & .button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 0;
        color: rgba($color: #000000, $alpha: 0);
        &:hover ~ .decor,
        &:focus-visible ~ .decor {
            background-color: var(--col-green);
        }
        &:focus-visible {
            border: 2px solid var(--col-white);
        }
    }
    
}
.burger-opened {
    & .decor {
        &:nth-child(2) {
            transform: translateX(4.5px) rotateZ(45deg);
        }
        &:nth-child(3) {
            opacity: 0;
        }
        &:nth-child(4) {
            transform: translateX(4.5px) rotateZ(-45deg);
        }
    }
}

@media (min-width: 768px) {
    .burger,
    .burger-opened {
        display: none;
    }
}