
.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    &--theme-white {
        & .nickname {
            color: white;
        }
    }
    &--theme-black {
        & .nickname {
            color: black;
        }
    }
}
.pic-container {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 10px 0 0;
    transition: all 0.5s;
    background-color: var(--col-black-10);
    animation: picContainer 1.5s infinite ease-in;
    &:hover {
        transform: scale(1.2);
    }
    @keyframes picContainer {
        0% {
            background-color: var(--col-black-10);
        }
        50% {
            background-color: var(--col-black-50);
        }
        100% {
            background-color: var(--col-black-10);
        }
    }
}
.nickname-container {
    position: relative;
    flex: 1 1 auto;
    min-width: 50px;
    max-width: calc(100% - 50px);
}
.nickname {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 0.5s;
    font-size: 16px;
    height: 1.2em;
    transform: translate(0, 0.1em);
    &:hover {
        text-decoration: underline;
    }
    &:focus-visible {
        outline: 3px solid var(--col-violet-light);
    }
}


@media(min-width: 1400px) {
    .pic-container {
        width: 50px;
        height: 50px;
        flex: 0 0 50px;
        margin: 0 14px 0 0;
    }
    .nickname {
        font-size: 20px;
        flex: 1 1 auto;
    }
}