.title {
    color: var(--col-text-black-10);
    font-family: var(--font-pretty);
}
.desktop-title {
    display: none;
}
.two-parts-title {
    &--big {
        font-size: 96px;
        line-height: 68px;
        display: inline-block;
        margin: 0 10px 0 0;
    }
    &--small {
        font-size: 48px;
        line-height: 45px;
    }
}

@media(min-width: 768px) {
    .two-parts-title {
        display: none;
    }
    .desktop-title {
        display: inline-block;
        font-size: 130px;
        line-height: 0.91em;
    }
}

@media(min-width: 1200px) {
    .desktop-title {
        font-size: 130px;
        line-height: 0.91em;
    }
}

@media(min-width: 1400px) {
    .desktop-title {
        font-size: 144px;
    }
}