//basics
@import url("./nullStyle.scss");
@import url("./fonts.scss");
@import url("./vars.scss");
//basics


html {
    font-family: var(--font-basic);
}
#root {
    padding: 65px 0 0 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.unselectable {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;   
    -moz-user-select: none;      
    -ms-user-select: none;      
    user-select: none;  
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
  
.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    min-height: 100%;
}

.labeled-input {
    &__title,
    &__input {
        font-size: 18px;
        line-height: 1em;
    }
    &__title {
        color: var(--col-text-black);
        margin: 0 0 8px 10px;
        display: block;
        &--underscored {
            display: inline-block;
            position: relative;
            &::before {
                content: '';
                display: block;
                height: 0.5px;
                width: 100%;
                position: absolute;
                bottom: 2px;
                left: 0;
                background-color: var(--col-black);
            }
        }
        &--mobile {
            display: block;
        }
        &--desktop {
            display: none;
        }
    }
    &__input {
        height: 46px;
        padding: 0 10px;
        position: relative;
        border-radius: 10px;
        border: 1px solid var(--col-black-light);
        color: var(--col-text-black);
        appearance: none;
        transition: border 0.5s;
        &::placeholder {
            font-size: 16px;
            color: var(--col-text-black-50);
        }
        &:hover,
        &:focus-visible {
            border: 1px solid var(--col-blue-dark);
        }
    }
    &__textarea {
        height: 119px;
        min-height: 119px;
        max-height: 300px;
        padding: 10px;
        resize: vertical;
    }
    &__select {
        cursor: pointer;
        line-height: 1.15em;
    }
    &__select-wrapper {
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 10px;
            width: 14px;
            height: 8px;
            transform: translate(0, -50%);
            background: url('../assets/images/decor-things/select.svg');
        }
    }
    &__pics {
        &-preview {
            height: 139px;
            padding: 10px 10px 0 10px;
        }
        &-preview-outer {
            width: 100%;
            height: 100%;
            overflow-y: hidden;
            overflow-x: auto;
        }
        &-preview-row {
            width: auto;
            display: flex;
        }
        &-placeholder {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 18px;
            color: var(--col-text-black-50);
        }
    }
    &__file-input {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 55px;
        opacity: 0;
        cursor: pointer;
    }
}
.input-error {
    padding: 5px;
    font-size: 16px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    color: var(--col-text-red);
    transform: scale(0);
    animation: errorAppearance 0.5s forwards;
    @keyframes errorAppearance {
        0% {}
        100% {
            transform: scale(1);
        }
    }
}

.blue-link {
    font-size: 14px;
    line-height: 1em;
    color: var(--col-text-blue-dark);
    transition: all 0.5s;
    &:hover,
    &:focus-visible {
        text-decoration: underline;
        color: var(--col-text-black-50);
    }
}

.gray-link {
    color: var(--col-text-black-50);
    font-size: 14px;
    line-height: 1em;
    text-decoration: underline;
    transition: all 0.5s;
    &:hover,
    &:focus-visible {
        text-decoration: underline;
        color: var(--col-text-blue-dark);
    }
}

.btn {
    font-size: 18px;
    line-height: 1em;
    border-radius: 10px;
    transition: all 0.5s;
    &--black {
        border: 2px solid var(--col-black-light);
        background-color: var(--col-black-light);
        color: var(--col-text-white);
        &:hover,
        &:focus-visible {
            background-color: var(--col-white);
            color: var(--col-text-blue-dark);
        }
    }
    &--white {
        border: 2px solid var(--col-black-light);
        background-color: var(--col-white);
        color: var(--col-text-blue-dark);
        &:hover,
        &:focus-visible {
            background-color: var(--col-black-light);
            color: var(--col-text-white);
        }
    }
}

.liquid-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.whithout-highlight {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.user {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    &__pic {
        display: inline-block;
        width: 40px;
        height: 40px;
        flex: 0 0 40px;
        border-radius: 50%;
        margin: 0 10px 0 0;
        transition: all 0.5s;
        &:hover {
            transform: scale(1.2);
        }
    }
    &__nickname {
        font-size: 16px;
        display: inline-block;
        width: calc(100% - 50px);
        flex: 0 0 calc(100% - 50px);
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.5s;
        &:hover {
            text-decoration: underline;
        }
    }
    &--theme-white {
        & .user__nickname {
            color: white;
        }
    }
    &--theme-black {
        & .user__nickname {
            color: black;
        }
    }
}

@media(min-width: 768px) {
    .container {
        width: 720px;
        padding: 0;
    }
}

@media(min-width: 1200px) {
    .container {
        width: 1140px;
        padding: 0;
    }
    .blue-link,
    .gray-link {
        font-size: 16px;
    }
    .labeled-input {
        &__title {
            font-size: 20px;
            line-height: 0.93em;
            &--mobile {
                display: none;
            }
            &--desktop {
                display: block;
            }
        }
        &__textarea {
            height: 200px;
            min-height: 200px;
            max-height: 200px;
        }
        &__pics {
            &-preview {
                height: 212px;
                padding: 10px 23.5px;
            }
            &-preview-outer {
                overflow-x: hidden;
            }
            &-preview-row {
                flex-wrap: wrap;
            }
        }
        &__file-input {
            height: 40px;
        }
    }
}

@media(min-width: 1400px) {
    .container {
        width: 1200px;
    }
    .user {
        &__pic {
            width: 50px;
            height: 50px;
            flex: 0 0 50px;
            margin: 0 14px 0 0;
        }
        &__nickname {
            font-size: 20px;
            width: calc(100% - 64px);
            flex: 0 0 calc(100% - 64px);
        }
    }
    .labeled-input {
        &__pics {
            &-preview {
                padding: 10px 25px;
            }
        }
    }
    #root {
        padding: 88px 0 0 0;
    }
}