//basics
@import url("./nullStyle.scss");
@import url("./fonts.scss");
@import url("./vars.scss");
//basics


html {
    font-family: "Robot";
}
#root {
    padding: 65px 0 0 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.unselectable {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;   
    -moz-user-select: none;      
    -ms-user-select: none;      
    user-select: none;  
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
  
.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

.labeled-input {
    &__title,
    &__input {
        font-size: 18px;
        line-height: 1em;
    }
    &__title {
        color: var(--black-col);
        margin: 0 0 8px 10px;
        display: block;
    }
    &__input {
        height: 46px;
        padding: 0 10px;
        border-radius: 10px;
        border: 1px solid var(--dark-col);
        color: var(--black-col);
        appearance: none;
        transition: border 0.5s;
        &::placeholder {
            font-size: 16px;
            color: var(--black-col-50);
        }
        &:hover,
        &:focus-visible {
            border: 1px solid var(--blue-col);
        }
    }
    &__select {
        cursor: pointer;
        line-height: 1.15em;
    }
    &__select-wrapper {
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 10px;
            width: 14px;
            height: 8px;
            transform: translate(0, -50%);
            background: url('../assets/images/decor-things/select.svg');
        }
    }
}
.input-error {
    padding: 5px;
    font-size: 16px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    color: var(--error-col);
    transform: scale(0);
    animation: errorAppearance 0.5s forwards;
    @keyframes errorAppearance {
        0% {}
        100% {
            transform: scale(1);
        }
    }
}

.blue-link {
    font-size: 14px;
    line-height: 1em;
    color: var(--blue-col);
    transition: all 0.5s;
    &:hover,
    &:focus-visible {
        text-decoration: underline;
        color: var(--black-col-50);
    }
}

.gray-link {
    color: var(--black-col-50);
    font-size: 14px;
    line-height: 1em;
    text-decoration: underline;
    transition: all 0.5s;
    &:hover,
    &:focus-visible {
        text-decoration: underline;
        color: var(--blue-col);
    }
}

.btn {
    font-size: 18px;
    line-height: 1em;
    width: 154px;
    height: 43px;
    border-radius: 10px;
    transition: all 0.5s;
    &--black {
        border: 2px solid var(--black-col);
        background-color: var(--dark-col);
        color: var(--white-col);
        &:hover,
        &:focus-visible {
            background-color: var(--white-col);
            color: var(--blue-col);
        }
    }
}

.liquid-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-dropdown {
    position: relative;
    border-radius: 10px;
    transition: all 0.5s;
    border: 1px solid transparent;
    overflow: hidden;
    &__toggle-btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        color: transparent;
        font-size: 0;
        &:hover {
            cursor: pointer;
        }
    }
    &__decor {
        width: 6.18px;
        height: 4px;
        position: absolute;
        top: 30px;
        right: 10px;
        transform: rotateZ(0deg);
        transition: all 0.5s;
    }
    &__nav {
        position: absolute;
        right: 10px;
        top: 60px;
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
        height: calc(100% - 70px);
        width: calc( 100% - 70px);
        padding: 0 20px 0 0;
        overflow-x: hidden;
        overflow-y: auto;
    }
    &__menu {
        &-item {
            margin: 0 0 14px 0;
        }
        &-link {
            font-size: 14px;
            color: var(--black-col);
        }
        &-link:hover {
            text-decoration: underline;
        }
    }

    &--theme-white:hover {
        border: 1px solid white;
    }
    &--theme-black:hover {
        border: 1px solid var(--dark-col);
    }

    &--theme-white.user-dropdown--opened {
            background-color: white;
            border: 1px solid var(--dark-col);
    }
    &--theme-black.user-dropdown--opened{
            background-color: var(--dark-col);
            border: 1px solid white;
    }

    &--opened {
        .user-dropdown__decor {
            transform: rotateZ(180deg);
        }
        .user-dropdown__nav {
            pointer-events: all;
            visibility: visible;
            opacity: 1;
        }
    }
}

.user {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    &__pic {
        display: inline-block;
        width: 40px;
        height: 40px;
        flex: 0 0 40px;
        border-radius: 50%;
        margin: 0 10px 0 0;
        transition: all 0.5s;
        &:hover {
            transform: scale(1.2);
        }
    }
    &__nickname {
        font-size: 16px;
        display: inline-block;
        width: calc(100% - 50px);
        flex: 0 0 calc(100% - 50px);
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.5s;
        &:hover {
            text-decoration: underline;
        }
    }
    &--theme-white {
        & .user__nickname {
            color: white;
        }
    }
    &--theme-black {
        & .user__nickname {
            color: black;
        }
    }
    &--in-dropdown {
        pointer-events: none;
        width: calc(100% - 20px);
    }
}

@media(min-width: 768px) {
    .container {
        width: 720px;
        padding: 0;
    }
}

@media(min-width: 1200px) {
    .container {
        width: 1140px;
        padding: 0;
    }
    .blue-link,
    .gray-link {
        font-size: 16px;
    }
    .labeled-input {
        font-size: 20px;
    }
    .btn {
        width: 177px;
    }
}

@media(min-width: 1400px) {
    .container {
        width: 1320px;
    }
    .user-dropdown {
        &__decor {
            width: 7.35px;
            height: 5px;
            top: 32.5px;
        }
        &__nav {
            top: 70px;
            height: calc(100% - 80px);
            width: calc( 100% - 80px);
        }
        &__menu {
            &-item {
                margin: 0 0 17px 0;
            }
            &-link {
                font-size: 16px;
            }
        }
    }
    .user {
        &__pic {
            width: 50px;
            height: 50px;
            flex: 0 0 50px;
            margin: 0 14px 0 0;
        }
        &__nickname {
            font-size: 20px;
            width: calc(100% - 64px);
            flex: 0 0 calc(100% - 64px);
        }
    }
    #root {
        padding: 88px 0 0 0;
    }
}