:root {
    --dark-col: #2C2C2C;
    --blue-col: #2027CE;
    --white-col: #FFFF;
    --black-col: black;
    --light-green-col: #8BD192;
    --light-violet-col: #7B61FF;

    --black-col-10: rgba(0, 0, 0, 0.1);
    --black-col-50: rgba(0, 0, 0, 0.5);

    //fonts
    --montserrat: "Monster";

}