.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 59px;
    display: flex;
    align-items: center;
    &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--dark-col);
    }
    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .header {
        & .inner {
            flex-direction: row-reverse;
        }
    }
}
@media (min-width: 1400px) {
    .header {
        height: 88px;
    }
}