.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--col-black-light);
    }
    
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

.user-dropdown {
   z-index: 4;
}


@media (min-width: 768px) {
    .inner {
        flex-direction: row-reverse;
    }
}
@media (min-width: 1400px) {
    .inner {
        height: 88px;
    }
}