.blog {
    width: calc(100vw - 20px);
    .title {
        font-size: 20px;
        &-decor {
            font-family: var(--font-pretty);
            font-size: 72px;
            letter-spacing: 0.065em;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-0.175em);
            transition: all 0.5s;
        }
        &-wrapper {
            margin: 0 0 10px 0;
            padding: 0 0 0 50px;
            display: flex;
            position: relative;
        }
        &-link {
            color: var(--col-text-black);
            cursor: pointer;
            transition: color 0.5s;
            &:hover {
                color: var(--col-blue-dark);
            }
        }
    }
    .body {
        height: 122px;
        position: relative;
        padding: 15px;
        border-radius: 10px;
        background-color: var(--col-black-light);
    }
    .content {
        height: 100%;
    }
    .text {
        color: var(--col-text-white);
        font-size: 14px;
        line-height: 1.22em;
        letter-spacing: 0.065em;
        // Addition of 3 line multiline ellipsis
        text-overflow:ellipsis;
        overflow:hidden;
        display: -webkit-box !important;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        white-space: normal;
        // Addition of 3 line multiline ellipsis
    }
    .pics {
        white-space: nowrap;
        overflow-y: auto;
        width: 100%;
        padding: 0 0 10px 0; 
        &-item {
            display: inline-block;
            height: 124px;
            min-width: 100px;
            margin: 0 16px 0 0;
            overflow: hidden;
            position: relative;
            &:last-child {
                margin: 0;
            }
        }
        &-image {
            width: auto;
            min-width: 100px;
            height: 100%;
            object-fit: cover;
        }
    }
    .read-all-link {
        display: inline-block;
        position: absolute;
        bottom: 15px;
        left: 15px;
        padding: 4px;
        border-radius: 10px;
        background-color: var(--col-white);
        transition: all 0.5s;
        color: var(--col-text-black-light);
        cursor: pointer;
        &:hover,
        &:focus-visible {
            transform: scale(1.2);
            color: var(--col-text-blue-dark);
            padding: 4px 15px 4px 4px;
        }
    }
    &--with-pics {
        .body {
            height: 262px;
        }
        .text {
            margin: 0 0 16px 0;
        }
    }
    &:hover {
        .title-decor {
            color: var(--col-text-blue-dark)
        }
    }
}

@media(min-width: 375px) {
    .blog {
        width: 335px;
    }
}

@media(min-width: 768px) {
    .blog {
        width: 450px;
        &--with-pics {
            .content {
                flex-direction: row;
                flex-wrap: wrap;
            }
            .body {
                height: 250px;
            }
            .text {
                margin: 0;
                width: 124px;
                -webkit-line-clamp: 10;
            }
        }
        .pics {
            position: absolute;
            top: 15px;
            right: 15px;
            width: 270px;
            padding: 0 0 18px 0;
            &-item {
                height: 164px;
                margin: 0 35px 0 0;
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}

@media(min-width: 1200px) {
    .blog {
        .body {
            height: 250px;
        }
        .text {
            -webkit-line-clamp: 10;
        }
    }
}

@media(min-width: 1400px) {
    .blog {
        width: 380px;
        .body {
            height: 260px;
        }
        .text {
            font-size: 16px;
            -webkit-line-clamp: 9;
        }
        &--with-pics {
            .text {
                width: 145px;
                -webkit-line-clamp: 8;
            }
        }
        .pics {
            width: 180px;
            &-item {
                margin: 0 15px 0 0;
            }
        }
    }
}