.blog {
    width: 100%;
    .title {
        font-size: 20px;
        &-decor {
            font-family: "Monster";
            font-size: 72px;
            letter-spacing: 0.065em;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-0.175em);
            transition: all 0.5s;
        }
        &-wrapper {
            margin: 0 0 10px 0;
            padding: 0 0 0 50px;
            display: flex;
            position: relative;
        }
    }
    .body {
        height: 122px;
        position: relative;
        padding: 15px;
        border-radius: 10px;
        background-color: var(--dark-col);
    }
    .content {
        height: 100%;
    }
    .text {
        color: var(--white-col);
        font-size: 14px;
        line-height: 1.22em;
        letter-spacing: 0.065em;
        // Addition of 3 line multiline ellipsis
        text-overflow:ellipsis;
        overflow:hidden;
        display: -webkit-box !important;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        white-space: normal;
        // Addition of 3 line multiline ellipsis
    }
    .pics {
        display: flex;
        overflow-y: auto;
        width: 100%;
        padding: 0 0 10px 0;
        &-item {
            flex: 0 0 69px;
            width: 69px;
            height: 74px;
            margin: 0 16px 0 0;
            &:last-child {
                margin: 0;
            }
        }
    }
    .read-all-link {
        display: inline-block;
        position: absolute;
        bottom: 15px;
        left: 15px;
        padding: 4px;
        border-radius: 10px;
        background-color: var(--white-col);
        transition: all 0.5s;
        color: var(--dark-col);
        cursor: pointer;
        &:hover,
        &:focus-visible {
            transform: scale(1.2);
            color: var(--blue-col);
            padding: 4px 15px 4px 4px;
        }
    }
    &--with-pics {
        .body {
            height: 212px;
        }
        .text {
            margin: 0 0 16px 0;
        }
    }
    &:hover {
        .blog__title-decor {
            color: var(--blue-col)
        }
    }
}

@media(min-width: 375px) {
    .blog {
        width: 335px;
    }
}

@media(min-width: 768px) {
    .blog {
        width: 450px;
        &--with-pics {
            .content {
                flex-direction: row;
                flex-wrap: wrap;
            }
            .text {
                margin: 0;
                width: 124px;
                -webkit-line-clamp: 8;
            }
        }
        .pics {
            position: absolute;
            top: 15px;
            right: 15px;
            width: 270px;
            padding: 0 0 18px 0;
            &-item {
                flex: 0 0 117.5px;
                width: 117.5px;
                height: 144px;
                margin: 0 35px 0 0;
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}

@media(min-width: 1400px) {
    .blog {
        width: 380px;
        .body {
            height: 212px;
        }
        .text {
            font-size: 16px;
        }
        &--with-pics {
            .text {
                width: 145px;
                -webkit-line-clamp: 7;
            }
        }
        .pics {
            width: 180px;
            &-item {
                flex: 0 0 82.5px;
                width: 82.5px;
                height: 108px;
                margin: 0 15px 0 0;
            }
        }
    }
}