.wrapper {
    height: calc(100vh - 65px - 110px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loading-wrapper {
    height: calc(100vh - 65px);
    position: relative;
}
.title {
    position: absolute;
    top: 25px;
    left: -10px;
    color: var(--col-text-black);
    font-family: var(--font-pretty);
    &-small {
        font-size: 24px;
        line-height: 1.21em;
        display: block;
    }
    &-big {
        font-size: 48px;
        line-height: 1.22em;
        display: block;
        transform: translate(-2.5px, -5px);
    }
}
.blogs {
    display: inline-block;
    position: relative;
    z-index: 2;
    overflow-y: auto;
    padding: 124px 0 0px 0px;
}
.blog {
    margin: 0 0 24px 0;
    padding: 10px 0 0 0;
    border-radius: 10px;
    background-color: var(--col-white-75-transparent);
    &:last-child {
        margin: 0;
    }
}
.pagination {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 109px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--col-white);
}
.no-blogs {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 50%;
    width: 100vw;
    transform: translate(-50%, 0);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--col-white-75-transparent);
    &__text {
        font-family: var(--font-pretty);
        font-size: 20px;
    }
}

@media(min-width: 768px) {
    .title {
        left: 0;
        &-small {
            font-size: 32px;
        }
        &-big {
            font-size: 200px;
            color: var(--col-text-black-10);
            transform: translate(-15.5px, -39px);
        }
    }
    .pagination {
        width: initial;
        background-color: transparent;
        flex-direction: column;
        align-items: center;
        bottom: calc((100vh - 65px) / 2 - 10px);
        left: calc((100vw - 720px) / 2);
        margin: 0;
        transform: translate(0%, 50%);
    }
    .wrapper {
        height: calc(100vh - 65px - 20px);
    }
}

@media(min-width: 1200px) {
    .blogs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 964px;
        padding: 135px 10px 0 0;
        transform: translateX(15px);
    }
    .pagination {
        left: calc((100vw - 1140px) / 2);
    }
}

@media(min-width: 1400px) {
    .loading-wrapper {
        height: calc(100vh - 88px);
    }
    .title {
        left: -5px;
        top: 62px;
        &-big {
            transform: translate(-33px, -78px);
            font-size: 400px;
        }
    }
    .blogs {
        width: 1260px;
        padding: 256px 0px 0px 0px;
        transform: initial;
        justify-content: flex-start;
    }
    .wrapper {
        align-items: flex-start;
    }
    .blog {
        margin: 0 30px 44px 0;
        &:nth-last-child(-n + 3) {
            margin: 0 30px 44px 0;
        }
        &:nth-child(3n) {
            margin: 0 0 44px 0;
        }
    }
    .pagination {
        left: calc(((100vw - 1200px) / 2) - 20px);
        transform: translate(-100%, 50%);
    }
    .wrapper {
        height: calc(100vh - 88px - 20px);
    }
}


@media(max-height: 550px)
and(min-width: 768px)
and(max-width: 1200px) {
    .pagination {
        left: calc(100vw - ((100vw - 720px) / 2 - 7px));
        transform: translate(-100%, 50%);
    }
}
@media(max-height: 550px)
and(min-width: 1200px)
and(max-width: 1400px) {
    .pagination {
        left: calc(100vw - ((100vw - 1140px) / 2 - 5px));
        transform: translate(-100%, 50%);
    }
}

@media(min-width: 768px)
and(max-width: 1400px)
and(min-height: 550px)
and(max-height: 720px) {
    .pagination {
        bottom: initial;
        top: 300px;
    }
}