@use "../../../styles/animations.scss";

.form {
    position: relative;
    z-index: 2;
}
.input-wrapper {
    display: block;
    margin: 0 0 20px 0;
    position: relative;
}
.image-inputs-wrapper {
    margin-bottom: 20px;
    position: relative;
}
.image-inputs-carousel {
    display: flex;
    overflow-x: auto;
    padding-bottom: 20px;
}
.image-input {
    margin-right: 20px;
    flex: 0 0 150px;
    height: 189px;
    &:last-child {
        margin-right: 0px;
    }
}
.input {
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.add-images-decor {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 21px;
    height: 24px;
}

.preview-image {
    flex: 0 0 94px;
    width: 94px;
    height: 99px;
    margin-right: 16px;
    &:last-child {
        margin-right: 0;
    }
    &.removing {
        animation: PreviewPictureRemoving 0.5s forwards;
    }
}

@media(min-width: 380px) {
    .image-input {
        flex: 0 0 calc(50% - 10px);
    }
}

@media(min-width: 1200px) {
    .form {
        display: flex;
        justify-content: space-between;
        height: 339px;
    }
    .row {
        flex: 0 0 calc(50% - 25px); 
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &--left {
            padding: 19px 0 0 0;
        }
    }
    .input-wrapper {
        margin: 0;
    }
    .image-input {
        height: 200px;
    }
    .add-images-decor {
        top: -7px;
        left: 126px;
    }
    .preview-image {
        flex: 0 0 89.33px;
        width: 89.33px;
        height: 88px;
        margin-right: 16px;
        margin-bottom: 14px;
        &:nth-child(3),
        &:nth-child(6) {
            margin-right: 0px;
        }
        &:nth-child(4),
        &:nth-child(5) {
            margin-bottom: 0px;
        }
    }
}

@media(min-width: 1400px) {
    .row {
        &--right {
            transform: translate(0, -8px);
        }
    }
    .image-inputs-wrapper {
        margin-bottom: 28px;
    }
}