.item {
    margin: 0 5px 5px 0;
    border: 1px solid transparent;
    transition: border 0.5s;
    &:hover,
    &--active {
        & .button {
            color: var(--col-blue-dark);
        }
    }
    &--active {
        border: 1px solid var(--col-blue-dark);
        pointer-events: none;
    }
    &:last-child {
        margin: 0;
    }
}
.button {
    font-size: 18px;
    line-height: 1.19em;
    padding: 0 5px;
}


@media(min-width: 768px) {
    .item {
        margin: 0 0 9px 0;
        &:last-child {
            margin: 0;
        }
    }
}