@use "../../styles/animations.scss";

.user-dropdown {
    position: relative;
    border-radius: 10px;
    transition: background-color 0.5s, border 0.5s;
    border: 1px solid transparent;
    height: 60px;
    width: 185px;
    padding: 10px;
    transform: translate(0, -100%);
    animation: appearance 0.8s ease forwards;
}
.toggle-btn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    height: 60px;
    width: 100%;
    color: transparent;
    font-size: 0;
    &:hover {
        cursor: pointer;
    }
}
.decor {
    width: 6.18px;
    height: 4px;
    position: absolute;
    top: 30px;
    right: 10px;
    z-index: 4;
    transform: rotateZ(0deg);
    transition: all 0.5s;
}
.user {
    position: relative;
    z-index: 3;
    max-width: calc(100% - 12px);
}
.body {
    position: absolute;
    top: 0;
    right: -1px;
    width: calc(100% + 2px);
    height: 60px;
    padding: 58px 0 0 0;
    pointer-events: none;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.5s;
}
.body-inner {
    padding: 0 0 0 60px;
}

.user-dropdown--theme-white:hover .body{
    border: 1px solid white;
}
.user-dropdown--theme-black:hover .body{
    border: 1px solid var(--dark-col);
}

.user-dropdown--theme-white.user-dropdown--opened .body{
    background-color: white;
    border: 1px solid var(--dark-col);
}
.user-dropdown--theme-black.user-dropdown--opened .body{
    background-color: var(--dark-col);
    border: 1px solid white;
}

.user-dropdown--opened {
    .decor {
        transform: rotateZ(180deg);
    }
    .body {
        pointer-events: all;
        height: 200px;
    }
}

@media(min-width: 1400px) {
    .user-dropdown {
        height: 70px;
        width: 210px;
    }
    .toggle-btn {
        height: 70px;
    }
    .body {
        height: 70px;
        padding: 68px 0 0 0;
    }
    .body-inner {
        padding: 0 0 0 74px;
    }
    .decor {
        width: 7.35px;
        height: 5px;
        top: 32.5px;
    }
}