@use "../../styles/animations.scss";

.user-dropdown {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 60px;
    min-width: 150px;
    max-width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: background-color 0.5s, border 0.5s;
}
.toggle-btn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    height: 60px;
    width: 100%;
    color: transparent;
    font-size: 0;
    &:hover {
        cursor: pointer;
    }
}
.decor {
    position: relative;
    z-index: 2;
    width: 6.18px;
    height: 4px;
    margin: 0 0 0 auto;
    flex: 0 0 6.18px;
    transform: rotateZ(180deg);
    transition: all 0.5s;
}
.body {
    position: absolute;
    top: 0;
    right: -1px;
    width: calc(100% + 2px);
    height: 60px;
    padding: 58px 0 0 0;
    pointer-events: none;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.5s;
}
.body-inner {
    padding: 0 0 0 60px;
}

.user-dropdown--theme-white:hover .body{
    border: 1px solid white;
}
.user-dropdown--theme-black:hover .body{
    border: 1px solid var(--col-black-light);
}

.user-dropdown--theme-white.user-dropdown--opened .body{
    background-color: white;
    border: 1px solid var(--col-black-light);
}
.user-dropdown--theme-black.user-dropdown--opened .body{
    background-color: var(--col-black-light);
    border: 1px solid white;
}

.user-dropdown--opened {
    .decor {
        transform: rotateZ(0deg);
    }
    .body {
        pointer-events: all;
        height: 200px;
    }
}

@media(min-width: 1200px) {
    .user-dropdown {
        min-width: 180px;
    }
}

@media(min-width: 1400px) {
    .user-dropdown {
        height: 70px;
    }
    .toggle-btn {
        height: 70px;
    }
    .body {
        height: 70px;
        padding: 68px 0 0 0;
    }
    .body-inner {
        padding: 0 0 0 74px;
    }
    .decor {
        width: 7.35px;
        height: 5px;
        flex: 0 0 7.35px;
    }
}